<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css" />
    <title>Coming Soon Website Using HTML and CSS3</title>
  </head>
  <body>
    <header>
      <nav>


        
        <ul>
          <li><a href="#Home">Home</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#article">Articles</a>
            <ul>
              <li><a href="#computer">Computer</a></li>
              <li><a href="#phone">Phone</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact Us</a>
          </li>
          <li><a href="#">     </a>
          </li><li><a href="#">  </a>
          </li><li><a href="#">   </a>
          </li>
          <li><a href="#">   </a>
          </li><li><a href="#">   </a>
          </li><li><a href="#">   </a>
          </li><li><a href="#">   </a>
          </li>
          <li><a href="#">   </a>
          </li><li><a href="#">   </a>
          </li>
        </li><li><a href="#">Sign In</a>
        </li>
      </li><li><a href="#">Sign Up</a>
      </li>

        </ul>
      </nav>
      <div class="coundown-timmer">
        <div class="content">
          <h2>TechMe</h2> 
          <p>
            To find technology equipment at the best price, it is necessary, as for ready-to-wear, to wait for the sales season. But, in high-tech, it's much more complicated...
          </p>
          <h3>Follow Us To Find The Best Solution</h3>
        </div>
        <div class="timmer-content">
          <div class="time">
            <span id="days" class="numbers">00</span>
            <span>Days</span>
          </div>
          <div class="time">
            <span id="hours" class="numbers">00</span>
            <span>Hours</span>
          </div>
          <div class="time">
            <span id="minutes" class="numbers">00</span>
            <span>Minutes</span>
          </div>
          <div class="time">
            <span id="seconds" class="numbers">00</span>
            <span>Second</span>
          </div>
        </div>
        <div class="input-data">
          <h3>Subscribe Now to Get Updates</h3>
          <div class="input-fields">
            <div><input type="text" placeholder=" Enter your name" /></div>
            <div><input type="email" placeholder=" Enter an Email" /></div>

            <a href="#">Subscribe Now</a>
          </div>
        </div>
      </div>

      <div id="about" class="about-section">
        <div class="inner-width">
          <h1>About Us</h1>
          <div class="border"></div>
          <div class="about-section-row">
            <div class="about-section-col">
              <div class="about">
                <p>
                  To find technology equipment at the best price, it is necessary, as for ready-to-wear, to wait for the sales season. But, in high-tech, it's much more complicated... We'd love to show you our solution, get feedback and see if it might be a fit for your organization. Our Solution is to predict for you the best season for buying any technology equipment with the best price. It is based on 90% of Web Development and 70% of Machine Learning. 
                </p>
              </div>
            </div>
            <div class="about-section-col">
              <div class="skills">
                <div class="skill">
                  <div class="title">Web Development</div>
                  <div class="progress">
                    <div class="progress-bar p1"><span>90%</span></div>
                  </div>
                </div>
 
                <div class="skill">
                  <div class="title">Machine Learning</div>
                  <div class="progress">
                    <div class="progress-bar p2"><span>70%</span></div>
                  </div>
                </div>
 
                
              </div>
            </div>
          </div>
        </div>
      </div>


      <div id="contact" class="containerc">
        <div class="content">
          <div class="left-side">
            <div class="address details">
              <i class="fas fa-map-marker-alt"></i>
              <div class="topic">Address</div>
              <div class="text-one">Tunisia, Sfax</div>
              <div class="text-two">Tunisia, Djerba</div>
            </div>
            <div class="phone details">
              <i class="fas fa-phone-alt"></i>
              <div class="topic">Phone</div>
              <div class="text-one">+216 20 111 384</div>
              <div class="text-two">+216 99 668 227</div>
            </div>
            <div class="email details">
              <i class="fas fa-envelope"></i>
              <div class="topic">Email</div>
              <div class="text-one">ameni.chaabouni@enetcom.u-sfax.tn</div>
              <div class="text-two">hamza.bouajila@enetcom.u-sfax.tn</div>
            </div>
          </div>
          <div class="right-side">
            <div class="topic-text">Send Us A Message</div>
            <p>If you have any types of queries related to my our website, you can send us a message from here. It's our pleasure to help you...</p>
          <form action="#">
            <div class="input-box">
              <input type="text" placeholder="Enter your name">
            </div>
            <div class="input-box">
              <input type="text" placeholder="Enter your message">
            </div>
            <div class="input-box message-box">
              
            </div>
            <div class="button">
              <input type="button" value="Send Now" >
            </div>
          </form>
        </div>
        </div>
      </div>
    </header>
    <script src="main.js"></script>
  </body>
</html>
